################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExceptionHandlingDemo
/ExceptionHandlingDemo/bin/Debug/netcoreapp2.2
/ExceptionHandlingDemo/obj
/ExceptionHandlingDemo/Properties
